.table {
	margin: 30px 0 30px 0;
	width: 100%;
	max-width: 1170px;
	height: auto;
	border-collapse: collapse;

	border: 2px solid #20252b;
	background: transparent;
	&__head {
		padding: 0px 44px;
		border-bottom: 2px solid #20252b;
	}

	&__head-row {
		height: 66px;
	}

	&__head-item {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		text-transform: uppercase;
		color: #e6e6e6;

		span {
			opacity: 0.88;
		}
	}

	&__body {
		padding: 0px 44px;
	}

	&__body-row {
		height: 45px;
	}

	&__body-item {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		color: #67707a;

		text-align: center;
	}
}
